@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.eot');
    src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Light.woff2') format('woff2'),
    url('../fonts/Oswald-Light.woff') format('woff'),
    url('../fonts/Oswald-Light.ttf') format('truetype'),
    url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 5532px;
}
.adapt_h1 {
    max-width: 880px;
    margin: 0 auto 23px;
}
.adapt_h1 h1 {
    color: #000;
    font-size: 1.875rem;
}
.timetable {
    background-color: #000;
    padding: 32px 0 31px;
    margin-bottom: 4px;
}
.time {
    max-width: 882px;
    margin: auto;
    color:#fefefe;
}
.time h3 {
    width: auto;
    display: inline-block;
    font-size: 3rem;
}
.pseudo h3:after{
    display: inline-block;
    content: "РЕГИСТРАЦИЯ";
    margin-left: 45px;
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    vertical-align: middle;
}
.nine{
    padding: 33px 0 30px;
}
.Gray {
    background-color: #c4c4c4;

}
.timetable.nine .open h3:after {
    display: inline-block;
    content: "ОТКРЫТИЕ";
    margin-left: 45px;
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    vertical-align: middle;
}
.adaptive_block {
    max-width: 884px;
    margin: auto;
    padding: 32px 0 33px;
}
.flex_block1{
    display: flex;

}
.block{
    flex-basis: 210px;
    height: 210px;
    background-color: #000;
    margin: 0 14px 48px 0;
}
.adaptive_block .flex_block1 .clock{
    margin: 32px 38px 0 0;
    font-size: 2.5rem;
    color: #000;
}
.inscription{
    font-size: 1.5rem;
    margin-top: 33px;
    font-family: Oswald-Regular, sans-serif;
    color: #000;
}
.Gut:after{
    content: "Какойтокрутойчувак Украина, Киев  Тема: «Замечательная»";
    font-size: 1.125rem;
    max-width: 244px;
    margin-top: 16px;
    display: block;
    font-family: Oswald-Regular, sans-serif;
    color: #000;
}
.block_ten {
    margin-right: 16px;
}
.Serge:after {
    content: "Какойтокрутойчувак Украина, Киев  Тема: «Замечательная»";
    font-size: 1.125rem;
    max-width: 244px;
    margin-top: 17px;
    display: block;
    font-family: Oswald-Regular, sans-serif;
    color: #000;
}
.ten_clock h3:after{
    display: inline-block;
    content: "КОФЕ-БРЕЙК";
    margin-left: 47px;
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    vertical-align: middle;
}
.timetable:nth-of-type(4){
    margin-bottom: 0;
}
.adaptive_block1 {
    max-width: 884px;
    margin: auto;
    padding: 36px 0 36px;
    display: flex;
}
.adaptive_block1 .block {
    margin:0 19px 0 0;
}
.adaptive_block1 h3 {
    margin: 32px 36px 0 0;
    font-size: 2.5rem;
    color: black;
}
.adaptive_block1 p {
    font-size: 1.5rem;
    color: black;
    font-family: Oswald-Regular, sans-serif;
}
.Chist:after {
    content: "Какойтокрутойчувак Украина, Киев  Тема: «Замечательная»";
    font-size: 1.125rem;
    max-width: 244px;
    margin-top: 17px;
    display: block;
    font-family: Oswald-Regular, sans-serif;
    color: #000;
    font-family: Oswald-Regular, sans-serif;
}
.timetable .twelve_clock h3:after {
    margin-left: 46px;
    display: inline-block;
    content: "ХЭНДЛАЙНЕР";
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    vertical-align: middle;
}
.thirteen_clock h3:after{
    margin-left: 44px;
    display: inline-block;
    content: "ТОК-ШОУ";
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    vertical-align: middle;
}
.thirteen_clock1 h3:after{
    margin-left: 47px;
    display: inline-block;
    content: "ОБЕД";
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    vertical-align: middle;
}
.timetable:nth-of-type(8){
    margin-bottom: 0;
}
.blocks {
    padding: 44px 0 103px 0;
    max-width:874px;
    margin: 0 auto 77px;
}
.Blocks_line {
    display: flex;
    align-items:stretch;
    position: relative;
    margin-bottom: 54px;
    justify-content:space-between;
    align-content: stretch;
    flex-wrap: wrap;
}
.blocks .Blocks_line h3 {
    color: black;
    font-size: 1.5rem;
    margin-right: 102px;
}
.Nadpis:after {
    content: "модератор секции Кирилл Чистяков";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    width:106px;
}
.block2 {
    width: 120px;
    height: 120px;
    background-color: black;
}
.ADVERT:after{
    content: "модератор секции Виталий Пушкин";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    width:106px;
}
.Strat:after{
    content: "модератор секции Вадим Бортник";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    width:106px;
}
.Line{
    margin-top: 180px;
    vertical-align: middle;
}
.Line:after{
    width: 706px;
    height: 1px;
    background-color: black;
    display: inline;
    position: absolute;
    bottom: 60px;
    content: "";
    z-index: -1;
    margin-left: 20px;
}
.Roman:after {
    content: "Какойтокрутойчувак \A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Vitaviy:after{
    content: "Какойтокрутойчувак \A Украина, Киев \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Vadim:after{
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.block_content {
    width:211px;
}
.blocks .Blocks_line .block_content h3{
    margin: 0;
}
.Vsev:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Max:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Otstup2 .block_content .Zhovt{
    margin-top: 60px;
}
.Margin .block2{
    margin-top: 85px;
}
.Otstup .block_content .block2{
    margin-top: 54px;
}
.Otstup .Line{
    margin-top: 200px;
}
.Jul:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Otstup2 .Line {
    margin-top: 235px;
}
.Tanya {
    margin-top: 80px;
}
.Margin2 .block2 {
    margin-top: 54px;
}
.Tatyana:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Dima {
    width: 77px;
}
.Dima:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Alex:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Otstup3 .Line {
    margin-top: 230px;
}
.cheturu {
    margin-top: 54px;
}
.Koba:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Rost:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Ihor:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Didiuk {
    margin-top: 80px;
}
.First_margin:before {
    width:160px;
    content: "";
    display: block;
}
.Ktoto:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Ktototam:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Den:after {
    content: "Какойтокрутойчувак\A Украина, Киев  \A Тема: «Замечательная»";
    display: block;
    font-family: Oswald-Light, sans-serif;
    font-size: 1rem;
    margin: 15px 0 27px;
    white-space: pre;
}
.Den {
    width: 100px;
}
.Last_block {
    border:1px solid black;
    padding: 96px 13px 93px 15px;
    display: inline-block;
    margin-right: 12px;
}
.Last_adaptive {
    max-width: 880px;
    margin: auto;
    display: flex;
}
.Last_block img {
    width: 100%;
    display: block;
}
.Six {
    display: inline-block;
    margin: 32px 36px 0 0;
    font-size: 2.5rem;
}
.Last_adaptive p {
    margin: 32px 0 24px 0;
    font-size: 1.5rem;
    font-family: Oswald-Regular,sans-serif;
    font-weight:bold ;
}
.Last_adaptive p:after{
    content: "Интенсив от школы рекламы и дизайна “Багаж”";
    display: block;
    font-family: Oswald-Regularб,sans-serif;
    font-size: 1.125rem;
}
.Otstup4 .Line{
    margin-top: 230px;
}